<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta Criada!</title>

    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">

    <!--MAIN STYLE-->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header class="cabecalho">
        <nav class="menu">
            <ul class="menu-lista">
                <li class="menu-lista__item">
                    <a href="/" class="menu-lista__link">
                        inicio
                    </a>
                </li>
                <li class="menu-lista__item">
                    <a href="#" class="menu-lista__link">
                        para você
                    </a>
                </li>
                <li class="menu-lista__item">
                    <a href="#" class="menu-lista__link">
                        para empresa
                    </a>
                </li>
                
                <h1 class="cabecalho-logo__lepo">Lepo<span class="cabecalho-logo__bank">Bank</span></h1>

                <li class="menu-lista__item">
                    <a href="./abrir-conta.html" class="menu-lista__link-botao menu-lista__link-botao--vermelho">
                        abrir conta
                    </a>
                </li>
                <li class="menu-lista__item">
                    <a href="#" class="menu-lista__link-botao">
                        acessar conta
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="formulario__container">
        <img src="../assets/img/abrir-conta3/formcheck-three.png" alt="Imagem status do preenchimento do formulario, parte 1." class="formulario__etapas">
        <img src="../assets/img/abrir-conta3/congrulations.svg" alt="Icone duas mulheres segurando simbolo da letra B de banco'" class="formulario__icon">
        <h2 class="formulario__titulo">
            Parabéns!
        </h2>
        <p class="formulario__descricao">
            Sua conta foi criado com Sucesso!
        </p>
        <p class="formulario__descricao-two">Suas informações de login e senha foram enviadas para o endereço de E-Mail registrado!</p>
        <p class="formulario__descricao-two">Disponivel também em outras plataformas!</p>
        <div class="formulario__icon--app">
            <img src="../assets/img/abrir-conta3/playstore.png" alt="" class="icon-app">
            <img src="../assets/img/abrir-conta3/app-store.png" alt="" class="icon-app">
        </div>
    </div>

    <footer class="rodape">
        <section class="rodape__cliente">
            <h3 class="rodape__titulo">cliente</h3>
            <ul class="rodape__lista">
                <li class="rodape__item"><a href="#" class="rodape__item-link">conta corrente</a></li>
                <li class="rodape__item"><a href="#" class="rodape__item-link">cartão de crédito</a></li>
                <li class="rodape__item"><a href="#" class="rodape__item-link">emprestimos</a></li>
            </ul>
        </section>

        <section class="rodape__contato">
            <h1 class="cabecalho-logo__lepo rodalogo">Lepo<span class="cabecalho-logo__bank">Bank</span></h1>
            <ul class="rodape__lista redes-sociais__lista">
                <li><img src="../assets/img/rodape/Facebook.png" alt="" class="rede-social"></li>
                <li><img src="../assets/img/rodape/Instagram.png" alt="" class="rede-social"></li>
                <li><img src="../assets/img/rodape/Whatsapp.png" alt="" class="rede-social"></li>
            </ul>
        </section>

        <section class="rodape__empresa">
            <h3 class="rodape__titulo">empresa</h3>
            <ul class="rodape__lista ">
                <li class="rodape__item"><a href="#" class="rodape__item-link">conta pessoa jurídica</a></li>
                <li class="rodape__item"><a href="#" class="rodape__item-link">maquininha</a></li>
                <li class="rodape__item"><a href="#" class="rodape__item-link">cartão empresarial</a></li>
            </ul>
        </section>


    </footer>
    
</body>
</html>