/*Div formulario*/

.formulario__camera,.formulario__mensagem{
    display: none;
}




@media screen and (min-width: 0){
    .formulario__imagem{
        width: 220px;
    }
}

@media screen and (min-width: 768px){
    .formulario__imagem{
        width: 300px;
    }
}