/*Div formulario*/


.camera__botao {
    background: var(--azul-claro);
    margin: 2em auto;
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--branco);
}

.formulario__camera,.formulario__mensagem{
    display: none;
}




@media screen and (min-width: 0){
    .formulario__imagem{
        width: 220px;
    }
}

@media screen and (min-width: 768px){
    .formulario__imagem{
        width: 300px;
    }
}